<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.monkey.monkeydev.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>TargetApp/put ipa or app here</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>TargetApp/put ipa or app here</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TargetApp</string>
			</array>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>/opt/MonkeyDev/Tools/pack.sh</string>
				</dict>
			</array>
			<key>TargetIdentifier</key>
			<string>com.monkey.monkeydev.TargetApp</string>
		</dict>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>ProductBuildPhaseInjections</key>
			<array>
				<dict>
					<key>TargetIdentifier</key>
					<string>com.monkey.monkeydev.TargetApp</string>
				</dict>
			</array>
			<key>Identifier</key>
			<string>com.monkey.monkeydev.cocoaTouchLibrary</string>
			<key>Name</key>
			<string>___PACKAGENAME___Dylib</string>
		</dict>
	</array>
</dict>
</plist>
